

label{
    display: inline-block;
    width : 200px;
    padding-left:15px;
    text-align:center;
}

body {
    background-color: #d7dde9;
    font-family: 'Ubuntu', sans-serif;
}

ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
}




h1{
    padding-top: 40px;
    text-align: center;

}



.main {
   
    background-color: #FFFFFF;
    width: 700px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

input {
width: 300px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

select{
width: 300px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form {
    padding-top: 40px;
    margin:auto;
    padding-bottom: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: rgb(255, 255, 255);
    background:  rgb(73, 98, 126);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 38%;
    margin-top: 20px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}



a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color:rgb(45, 39, 77);
    text-decoration: none
}

#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }

  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }

  #logout {
    top: 80px;
    background-color:  rgb(73, 98, 126);


  }
  
  #home {
    top: 20px;
    background-color:  rgb(73, 98, 126);


  }

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
    
    
}



